#root {
  max-width: 1280px;
  margin: 0 auto;
  padding-inline: 1rem;
  text-align: center;
}

.main-container {
  display: flex;
  flex-direction: column;
  place-items: center;
  height: 100vh;
}

.content {
  display: flex;
  flex-direction: column;
  place-items: center;
  width: 100%;
  max-width: 1000px;
}

.name {
  font-size: 3rem;
}

.profile-pic {
  margin-top: 40%;
  height: 250px;
  width: 250px;
  border-radius: 9999px;
}

.bio {
  width: 80%;
}